* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    width: 100vw;
}
.container{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo {
    height: 400px;
    width: 400px;
    position: relative;
}
.circle{
    position:absolute;
    top: 50%;
    background-color: #61d8f8;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    height: 180px;
    width: 180px;

}